body{
    margin: 0;
}
.product-box {
    width: 375px;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.product-box p, .product-box a{
    font-family: "Yu Gothic", YuGothic, Arial, sans-serif;
}
.product-box p {
    font-size: 12px;
    color: #5f5f5f;
    line-height: 18px;
    letter-spacing: 0.075em;
    margin: 3px 0;
}
.product-box a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 33px;
    color: #010101;
}
.clear-fix {
    overflow: hidden;
    clear: both;
}

/** BEGIN product-recommend **/
.recommend-header {
    position: relative;
    width: 100%;
    border-bottom: 2px solid #ff68a3;
    margin: 15px 0;
}
.recommend-header a {
    font-size: 16px;
}
.recommend-header a:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 1px;
    background-color: rgb(255,118,172);
    height: 1px;
}
.recommend-content p:before{
    content: "• ";
}
.recommend-content p.content-title:before {
    content: "";
}
.recommend-message {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 20px;
    display: flex;
}
.recommend-message .message-img {
    width: 50px;
    height: 45px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}
.recommend-message .message-img img {
    height: 100%;
}
.recommend-message .message-cont {
    width: 253px;
    padding: 15px;
    margin-left: 10px;
    border: 1px solid #e8e8e8;
    background-color: #fcfcfc;
    position: relative;
    border-radius: 3px;
}
.recommend-message .message-cont p {
    margin: 0;
    line-height: 18px;
}
.recommend-message div.message-cont:after, .recommend-message div.message-cont:before {
    background: none;
    width: 10px;
    height: 10px;
    content: " ";
    background-color: #fcfcfc;
    border: 1px solid #e8e8e8;
    transform: rotate(47deg);
    top: 15px;
    left: -6px;
    position: absolute;
    pointer-events: none;
    border-right: none;
    border-top: none;
    border-radius: 3px;
}
.recommend-message .message-cont:after {
    border: 1px solid #e8e8e8;
}
/** END OF product-recommend **/

/** BEGIN product-item **/
.product-item {
    position: relative;
    border: 4px solid #efefef;
    border-radius: 3px;
    padding: 0 11px;
    margin: 10px 0;
}
.product-item-flag a, .product-item-message .message-img a, .lSPager.lSGallery li a{
    color: transparent;
}
.item-flag {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/background-flag.png") repeat-x ;
}
.item-flag p{
    margin: 3px 10px;
    color: #ffffff;
    font-weight: bold;
}
.item-header {
    margin-top: 23px;
    margin-bottom: 8px;
    border-bottom: 1px solid #efefef;
    border-bottom-style: dotted;
}
.item-body p.item-title {
    font-weight: bold;
    margin-bottom: 0;
}
.item-body p.item-content {
    margin-top: 0;
}
.item-message{
    margin-top: 10px;
    position: relative;
    padding-top: 22px;
}
.item-message .message-img{
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 2;
}
.pro-box-button {
    border-radius: 30px;
    text-align: center;
}
.pro-box-button.view-detail-link {
    padding: 14px 0 8px 0;
    color: #ffffff;
    text-shadow: 1px 1px rgba(208, 0, 82, 1);
    font-weight: bold;
    background-color: #ff4d93;
    background-image : url("../img/slick-button.png"), url("../img/arrow.png");
    background-repeat: no-repeat, no-repeat;
    background-size: auto , 14px;
    background-position: 50% 8%, 95% 50%;
    box-shadow: 2px 2px 1px rgba(208,0,82,1), 2px 2px 1px rgba(255, 255, 255, 0.5) inset;
    margin: 15px 0;
}
.pro-box-button.view-detail-link h4{
    margin: 0;
    font-size: 16px;
    line-height: 16px;
}
.pro-box-button.view-detail-link p {
    font-size: 10px;
    color: inherit;
    margin: 0;
}
.item-message .pro-box-button {
    position: absolute;
    top: 9px;
    left: 60px;
    padding: 2px 30px;
    background-color: #22b8d6;
    z-index: 2;
}
.item-message .pro-box-button p {
    color: #ffffff;
    font-weight: bold;
}
.item-message div.pro-box-button:after, .item-message div.pro-box-button:before {
    content: "•";
    font-size: 13px;
    color: #ffffff;
    position: absolute;
    top: 6px;
}
.item-message div.pro-box-button:before {
    left: 10px;
}
.item-message div.pro-box-button:after {
    right: 10px;
}
.item-message .message-cont {
    text-align: justify;
    padding: 25px 15px 0 15px;
    border: 1px solid #c0e7ef;
    background-color: #f9feff;
    border-radius: 3px;
}
.item-message .message-cont a.rating-here {
    font-size: 12px;
    float: right;
    color: #02a9ca;
    font-weight: inherit;
    text-decoration: underline;
}
.pro-box-button.view-detail-link:hover { opacity: 0.85; }
a.rating-here:hover {  text-shadow: 0 2px 5px #e72828;  }
/** END OF product-item **/

/** SLIDER CUSTOM STYLESHEET **/
.product-img-items img {
    width: 213px;
    height: 213px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

.product-box .product-img-slide .lSPager {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0;
    height: 100%;
    justify-content: flex-end;
    width: 64px !important;
    right: 0;
}

.lSSlideOuter .lSPager.lSGallery img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    float: right;
}

.product-box .product-img-slide {
    position: relative;
    margin: 10px 0;
}

.dotted-pagger spam.dotted {
    cursor: pointer;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    border: 0.8px solid rgb(143, 143, 143);
}

.dotted-pagger li.active spam.dotted {
    background-color: rgb(143, 143, 143);
}

.dotted-pagger {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 9;
}

.dotted-pagger ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.dotted-pagger ul li {
    padding: 0;
    display: inline-block;
    margin-right: 4px;
}

.lSSlideOuter .lSPager.lSGallery li {
    width: 51px !important;
    margin-right: 0!important;
    text-align: right;
}

.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 0;
}

.lSAction {
    display: none !important;
}

.lSPager a {
    display: inline-block;
}
/**  END SLIDER CUSTOM STYLESHEET **/